@import "../inova_variables_colors";
@import "../inova_variables_fonts";

$accent: $inova-pink !default;
$secondary: $dark-base-bg !default;
$tertiary: $inova-blue !default;
$info: $inova-blue !default;
$success: $inova-green !default;
$warning: $inova-yellow !default;
$error: $inova-red !default;
$dark: $dark-base-color-dark !default;
$light: $dark-base-color-light !default;
$bg-color: $dark-bg-color !default;
$text-color: $dark-text-color !default;
$base-bg: $dark-base-bg !default;
$base-text: $dark-text-color !default;
$hovered-bg: $dark-base-hover !default;

$series-a: $inova-series-a;
$series-b: $inova-series-b;
$series-c: $inova-series-c;
$series-d: $inova-series-d;
$series-e: $inova-series-e;
$series-f: $inova-series-f;
$series-1: $series-a;
$chart-major-lines: rgba(0, 0, 0, .08);
$chart-minor-lines: rgba(0, 0, 0, .04);

@import "../all.scss";
