// Color settings
$primary: #f35800 !default;
$secondary: #e9e9e9 !default;

$info: #007bc3 !default;
$success: #3ea44e !default;
$warning: #ff9800 !default;
$error: #d92800 !default;


// Root styles
$body-bg: #ffffff !default;
$body-text: #272727 !default;


// Component
$component-bg: #ffffff !default;
$component-text: #272727 !default;
$component-border: #dedee0 !default;

$base-bg: #e9e9e9 !default;
$base-text: #272727 !default;
$base-border: #dedee0 !default;

$hovered-bg: #d6d6d6 !default;
$hovered-text: #272727 !default;
$hovered-border: #b4b4b4 !default;

$selected-bg: #f35800 !default;
$selected-text: #ffffff !default;


// Button
$button-bg: #e9e9e9 !default;
$button-text: #272727 !default;
$button-border: #c4c4c4 !default;


// Link
$link-text: #f35800 !default;
$link-hover-text: #cc4a00 !default;


// Dataviz
$series-a: #007bc3 !default;
$series-b: #3ea44e !default;
$series-c: #ffae00 !default;
$series-d: #ef4c00 !default;
$series-e: #a419b7 !default;
$series-f: #430b62 !default;


// Import main theme file
@import "../all.scss";
