$inova-pink: #e81e75;
$inova-blue: #1e98e8;
$inova-oliv: #564925;
$inova-oliv-medium: #ccc9be;
$inova-oliv-light: #ece8e2;
$inova-red: #dc3535;
$inova-orange: #fd7e14;
$inova-yellow: #ffc107;
$inova-green: #1fb141;
$inova-indigo: #6610f2;
$inova-purple: #b046be;
$inova-cyan: #17a2b8;

$inova-series-a: $inova-pink;
$inova-series-b: #ffd246;
$inova-series-c: #78d237;
$inova-series-d: #28b4c8;
$inova-series-e: #2d73f5;
$inova-series-f: #aa46be;

$light-text-color: #222222;
$light-text-color-inverse: #ffffff;
$light-bg-color: #ffffff;
$light-base-text: #222222;
$light-base-bg: #f4f2ee;
$light-base-border: rgba(0, 0, 0, 0.12);
$light-shadow-color: #9e9e9e;

$gray-text-color: #656565;
$gray-text-color-inverse: #ffffff;
$gray-bg-color: #ffffff;
$gray-base-text: #656565;
$gray-base-bg: #f6f6f6;
$gray-base-border: rgba(0, 0, 0, 0.08);
$light-shadow-color: #9e9e9e;

$dark-text-color: #ffffff;
$gray-text-color-inverse: #f6f6f6;
$dark-bg-color: #333;
$dark-base-text: #f6f6f6;
$dark-base-bg: #444;
$dark-base-border: rgba(0, 0, 0, 0.08);
$light-shadow-color: #0a0a0a;
